<template>
<div>

<b-container>

<h1>Bienvenido</h1>

<b-form class="form">
  <b-form-group id="groupEmail"
                label="Correo"
                label-for="inputEmail">
    <b-form-input id="inputEmail"
                  type="email"
                  v-model="form.email">
    </b-form-input>
  </b-form-group>
  <b-form-group id="groupPassword"
                label="Ingrese contraseña"
                label-for="inputPassword">
    <b-form-input id="inputPassword"
                  type="password"
                  v-model="form.password">
    </b-form-input>
  </b-form-group>
  <b-form-group id="groupButtons">
    <b-button id="inputLogin"
                  type="submit"
                  varian="primary"
                  @click="submit">Iniciar Sesion
    </b-button>
    <b-button @click="register">Registrarme</b-button>
  </b-form-group>
</b-form>

</b-container>

</div>
</template>

<script>

import auth from '../services/auth'

export default {
  name: 'login',
  data () {
    return {
      form: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    submit () {
      var authen = auth.login(this, this.form)
      authen.then(
        response => {
          auth.user.authenticated = true
          auth.user.token = response.body.token
          auth.user.message = response.body.message
          console.log('response : ')
          console.log(auth.user.message)
        }
      )
        .catch(
          function error (err) {
            auth.user.authenticated = false
            auth.user.message = err.body.message
            console.log(auth.user.message)
          }
        )
    },
    register () {
      var authen = auth.register(this, this.form)
      authen.then(
        response => {
          auth.user.message = response.body.createdAt
          console.log('response : ')
          console.log(auth.user.message)
        }
      )
        .catch(
          function error (err) {
            auth.user.message = err.body.createdAt
            console.log(auth.user.message)
          }
        )
    }

  }
}
</script>

<style>
  .form{
    padding: 20px;
  }
</style>
