<template>
<div>
<h1>Vue test {{ lista[0] }} </h1>

	<b-form-input id="email" type="email" v-model="email"></b-form-input>

	{{ $data | json }}

</div>
</template>

<script>

import Vue from 'vue'
import VueResource from 'vue-resource'
Vue.use(VueResource)

export default {
  name: 'test',
  props: [
    'lista'
  ],
  data: function () {
    return {
      tiempo: null,
      email: 'yanina6277@gmail.com'
    }
  },
  created: function () {
    this.$http.get('http://samples.openweathermap.org/data/2.5/weather?lat=35&lon=139&appid=b6907d289e10d714a6e88b30761fae22')
      .then(function (response) {
        console.log(response)
        this.tiempo = response.body.weather[0]
        console.log(this.tiempo)
      })
  }
}
</script>
